<mat-toolbar class="mat-elevation-z6">
  <a class="das-build" mat-button [routerLink]=" ['/']">das-build </a>
  <div *ngIf="userService.loggedIn()">
    &nbsp;

    <mat-form-field>
      <mat-select class="project-select">
        <mat-option *ngFor="let project of projects" [value]="project._id">
          {{ project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    &nbsp;

    <a id="pull-request-btn"
       mat-button
       [routerLink]="['/pull-requests']">
      Pull Requests
    </a>
  </div>

  <span class="fill-remaining-space"></span>

  <div *ngIf="userService.loggedIn()">
    <a id="dashboard-btn"
       mat-button
       [routerLink]="['/dashboard']">
      Dashboard
    </a>

    &nbsp;

    <a id="profile-btn"
       mat-button
       [routerLink]="['/profile']">
      {{ userService.user && userService.user.name }}
    </a>

    &nbsp;

    <a id="logout-btn"
       href="#"
       mat-flat-button
       color="default"
       (click)="onLogoutClick()">
      Logout
    </a>
  </div>
  <div *ngIf="!userService.loggedIn()">
    <a id="register-btn"
       mat-button
       [routerLink]="['/register']">
      Register
    </a>

    &nbsp;

    <a id="login-btn"
       mat-flat-button
       color="primary"
       [routerLink]="['/login']">
      Login
    </a>
  </div>
</mat-toolbar>