<mat-tab-group>
  <mat-tab label="Yours {{ getTabCount(all) }}">
    <app-pull-request-card *ngFor="let pr of all"
                           [pullRequest]="pr"></app-pull-request-card>
  </mat-tab>

  <mat-tab label="Requires Approval {{ getTabCount(requireAppoval) }}">
    <app-pull-request-card *ngFor="let pr of requireAppoval"
                           [pullRequest]="pr"></app-pull-request-card>
  </mat-tab>

  <mat-tab label="Ready to Queue {{ getTabCount(reqdyToQueue) }}">
    <app-pull-request-card *ngFor="let pr of reqdyToQueue"
                           [pullRequest]="pr"></app-pull-request-card>
  </mat-tab>

  <mat-tab label="In Queue {{ getTabCount(inQueue) }}">
    <app-pull-request-card *ngFor="let pr of inQueue"
                           [pullRequest]="pr"></app-pull-request-card>
  </mat-tab>

  <mat-tab label="Passed {{ getTabCount(passed) }}">
    <app-pull-request-card *ngFor="let pr of passed"
                           [pullRequest]="pr"></app-pull-request-card>
  </mat-tab>
  failed {{ getTabCount(failed) }}">
  <app-pull-request-card *ngFor="let pr of failed"
                         [pullRequest]="pr"></app-pull-request-card>
</mat-tab-group>