<mat-tab-group>
  <mat-tab label="Yours (1)">
    <mat-card>
      <mat-card-content>
        To Be completed
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Ready To Merge">
    <mat-card>
      <mat-card-content>
        To Be completed
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Requires Approval">
    <mat-card>
      <mat-card-content>
        To Be completed
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Failed">
    <mat-card>
      <mat-card-content>
        To Be completed
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>