<div class="form">
  <br />
  <mat-card class="form-card">
    <section class="mat-typography">
      <h3>Update Project</h3>
    </section>
    <mat-divider></mat-divider>
    <br />
    <form [formGroup]="editForm" class="create-project-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Project Name" formControlName="name" #name />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Repository Trunk Url" formControlName="trunkUrl" #trunkUrl />
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />
      <button mat-raised-button color="accent" routerLink="/project-list">Back</button>&nbsp;
      <button type="submit"
              mat-raised-button color="primary"
              (click)="editProject(name.value, trunkUrl.value)"
              [disabled]="editForm.pristine || editForm.invalid">Save</button>
    </form>
  </mat-card>
</div>
