.form {
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  max-width: 400px;
}

.edit-project-form {
  min-width: 350px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}
