.welcome {
  color: #ffffff;
  font-size: 9em;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 0px;
  line-height: 0.9em;
}

.das-build {
  font-family: 'Leckerli One', cursive;
  font-weight: 100;
  color: #a8c1dc;
}