<mat-toolbar class="mat-elevation-z6">
  <a mat-button [routerLink]="['/']">das-build</a>

  <span class="fill-remaining-space"></span>


  <a id="profile-btn"
     mat-button
     [routerLink]="['/profile']"
     routerLinkActive="mat-flat-button">
    Profile
  </a>

  &nbsp;

  <a id="logout-btn"
     href="#"
     mat-button
     (click)="onLogoutClick()">
    Logout
  </a>

  &nbsp;

  <a id="register-btn"
     mat-button
     [routerLink]="['/register']"
     routerLinkActive="mat-flat-button">
    Register
  </a>

  &nbsp;

  <a id="login-btn"
     mat-button
     [routerLink]="['/login']"
     routerLinkActive="mat-flat-button">
    Login
  </a>
</mat-toolbar>