<div>
  <br />
  <mat-card>
    <section class="mat-typography">
      <h3>Login</h3>
    </section>
    <mat-divider></mat-divider>
    <br />
    <form [formGroup]="loginForm" class="login-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Username" formControlName="username" #username />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" #password />
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />
      <button type="submit"
              mat-raised-button color="primary"
              (click)="onLoginButtonClick(username.value, password.value)"
              [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
    </form>
  </mat-card>
</div>