/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.splash {
  height: 100%;
  overflow: hidden;
  background: url(/assets/das-build.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash .mat-toolbar {
  color: #ffffff;
  background: transparent !important;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0) !important;
}

.splash .mat-toolbar #login-btn {
  background-color: #3f51b5;
}