<mat-card class="pull-request-card">
  <div class="card-row">
    <div class="card-left">
      <mat-card-header>
        <img mat-card-avatar src="/assets/default-avatar.png" alt="User Avatar">
        <mat-card-title class="description">{{ pullRequest.description }} ({{ pullRequest.ticket }})</mat-card-title>
        <mat-card-subtitle class="author">opened by <b>{{ pullRequest.author }}</b> {{ pullRequest.created | timeAgo }}</mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="approvers">
      <mat-card-header>
        <img mat-card-avatar
             src="/assets/default-avatar.png"
             alt="User Avatar"
             class="approver-accepted">
        <img mat-card-avatar
             src="/assets/default-avatar.png"
             alt="User Avatar">
        <img mat-card-avatar src="/assets/default-avatar.png" alt="User Avatar">
        <img mat-card-avatar
             src="/assets/default-avatar.png"
             alt="User Avatar"
             class="approver-accepted">
        <img mat-card-avatar src="/assets/default-avatar.png" alt="User Avatar">
      </mat-card-header>
    </div>
    <div class="actions">
      <button mat-flat-button
              color="primary"
              [disabled]="isNotReadyToQueue()">Queue</button>
    </div>
  </div>

</mat-card>