.pull-request-card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.author {
  margin-bottom: 0px;
}

.card-left {
  display: flex;
  flex-direction: column;
}

.approvers {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.approvers img {
  margin-left: 5px;
}

.approver-accepted {
  outline: none;
  border-color: green;
  box-shadow: 0 0 10px green
}

.actions {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  flex-direction: row;
}